<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome</title>
</head>

<body>
<div class="wrapper"> 
    {{{header}}}
    <div class="main_container inner_container">
        <div class="container">
            <div class="inner_left">
                {{#Blurb title="Contact Description"}}
                {{{contact}}}
            </div>
            <div class="content_right">
                <div class="newsletter">
                    {{#Blurb title="Job Newsletter"}}
                </div>
                <div class="job_listing">
                    {{#Blurb title="Job Listings"}}
                </div>
                <div class="left_twitter">
                    {{{tweets}}}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {{{footer}}}
</div>
</body>
</html>